# Ignore Mac DS_Store files
.DS_Store

# Ignore VS Code config files
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ignore the server-settings.json file
/server-settings.json
/dev-server-settings.json
/server/auth.json